@import "https://www.leafal.io/assets/css/reset.css";

/*Navbar*/
.navbar {
  background-color: red;
  color: black;
  list-style: none;
  padding: 30px 0 30px 0;
  width: 100%;
  overflow: hidden;
}

.navbar > ul > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: black;
  border-width: 1px;
  border-style: solid;
  background-color: grey;
  border-color: lightgrey;
  font-family: Literata;
  opacity: 60%;
  transition: 0.3s;
}
