@import "https://www.leafal.io/assets/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrapper {
  margin-left: 200px;
  margin-right: 200px;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

.logobalk {
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#osglogo {
  height: 92px;
}

#titel {
  font-weight: bold;
  font-size: 32px;
  text-align: right;
  float: right;
}

/*Navbar*/
.navbar {
  color: black;
  list-style: none;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: darkslategrey;
  border-bottom-width: 1px;
  margin-bottom: 10px;
}

.navbar > ul > li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans';
  font-style: normal;
  opacity: 60%;
  transition: 0.3s;
  padding: 25px;
  margin-right: 25px;
}

.navbar > ul > li > a:hover {
  background-color: #d9d9d9;
}

/*Artikel*/
.links {
  width: 200px;
  padding: 0 0 0 20px;
  float: left;
  display: inline-block;
}

#kopje {
  padding: 20px;
  background-color: slategrey;
  text-decoration: none;
  color: white;
  width: 200px;
  float: left;
  margin-bottom: 20px;
  transition: 0.3s;
}

#kopje:hover {
  background-color: teal;
}

.links > ul {
  list-style: none;
  overflow: hidden;
  color: blue;
  font-size: 18px;
}

.midden {
  background-color: lightgrey;
  float: left;
  width: calc(100% - 240px - 20px);
  padding: 20px;
  display: inline-block;
  min-width: 244px;
  min-height: 252px;
}

#tekstvak {
  display: inline-block;
}

#microsoft {
  width: calc(40% - 20px);
  margin-left: 20px;
  float: right;
  display: inline-block;
}

.onder {
  width: 100%;
  padding-top: 20px;
  max-height: 492px;
  display: inline-block;
}

.onder > img {
  width: calc(0.5 * (100% - 240px - 0px));
  margin: 20px 20px 20px 0;
}

.footer {
  text-align: center;
  padding-bottom: 50px;
  color: white;
  list-style: none;
  width: 100%;
  display: inline-block;
  padding-top: 50px;
}

.footer > ul {
}

.footer > ul > li {
  display: inline-block;
}

#footerlink {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: 'arial';
  font-style: normal;
  text-decoration: underline;
}

#footerlink:hover {
  color: #004d99;
}

#ondertekst {
  text-decoration: none;
  color: #004d99;
}

@media screen and (max-width:1000px) {
  #afb1, #afb2 {
      width: calc(100% - 220px);;
      min-width: 244px;
  }
}
